.tf-radio-image input[type="radio"]{
	 display: none;
 }
.tf-radio-image{
	width: 74px;
	margin-right: 0px!important;
	border: 2px solid transparent;
	display: inline-block;
}
.tf-radio-active{
	border: 2px solid #ddd;
}

td.tf-radio-image{
	width: 100%
}
.tf-radio-image img{
	max-width: 100%;
}
#customize-control-thim_header_style{
	position: relative;
}
.tf-radio-image img.header_preview{
	max-width: inherit;
}

#customize-control-thim_sticky_bg_main_menu_color,
#customize-control-thim_sticky_main_menu_text_color,
#customize-control-thim_sticky_main_menu_text_hover_color,
#customize-control-thim_sticky_sub_menu_bg_color,
#customize-control-thim_sticky_sub_menu_text_color,
#customize-control-thim_sticky_sub_menu_text_hover_color{
	padding-left: 10px;
}
#customize-control-thim_bg_pattern .tf-radio-image{
	width: 32px;
}
#customize-control-thim_bg_pattern .tf-radio-image img{
	width: 32px;
}

.customize-control p.description{
	display: none;
}

#accordion-panel-typography .customize-control-title{
	display: none;
}
.repeater-footer{
	padding: 7px 10px;
	background: #F0F0F0;
	border: 1px dashed #D0D0D0;
	height: 10px;
}
/*.thim-widget-section-hide{*/
	/*display: none;*/
/*}*/

#display-setting table.tf-form-table {
	overflow: hidden;
}

#display-setting table.tf-form-table, 
#display-setting table.tf-form-table th, 
#display-setting table.tf-form-table td {
	border: 1px solid #DDD;
}


#display-setting table.tf-form-table .tf-heading th {
	background: #0074a2;
}
#display-setting table.tf-form-table .tf-heading th h3 {
	color: #fff;
}
 
/*#display-setting table.tf-form-table tbody > tr:nth-child(3) th,
#display-setting table.tf-form-table tbody > tr:nth-child(4) th,
#display-setting table.tf-form-table tbody > tr:nth-child(5) th,
#display-setting table.tf-form-table tbody > tr:nth-child(6) th,
#display-setting table.tf-form-table tbody > tr:nth-child(7) th,
#display-setting table.tf-form-table tbody > tr:nth-child(8) th,
#display-setting table.tf-form-table tbody > tr:nth-child(9) th,
#display-setting table.tf-form-table tbody > tr:nth-child(10) th,
#display-setting table.tf-form-table tbody > tr:nth-child(11) th,
#display-setting table.tf-form-table tbody > tr:nth-child(12) th,
#display-setting table.tf-form-table tbody > tr:nth-child(13) th {
	padding-left: 100px;
}*/

#display-setting table.tf-form-table tbody > tr:nth-child(3) th,
#display-setting table.tf-form-table tbody > tr:nth-child(8) th {
	padding: 0;
	//padding-left: 85px;
}

#display-setting table.tf-form-table tbody > tr:nth-child(3) th > h3,
#display-setting table.tf-form-table tbody > tr:nth-child(8) th > h3{
	background: #ccc;
}

#display-setting table.tf-form-table tbody > tr:nth-child(16) > td,
#display-setting table.tf-form-table tbody > tr:nth-child(17) > td{
	border: none;
}
#display-setting table.tf-form-table tbody > tr:nth-child(17) > td{
	border-top: 1px solid black;
}

#display-setting table.tf-form-table tbody > tr:nth-child(16) th,
#display-setting table.tf-form-table tbody > tr:nth-child(17) th,
#display-setting table.tf-form-table tbody > tr:nth-child(18) th {
	padding-left: 100px;
}

#display-setting table.tf-form-table tbody > tr:nth-child(2) th,
#display-setting table.tf-form-table tbody > tr:nth-child(15) th {
	padding-left: 10px;
}
.form-table th {padding: 5px 10px 5px 10px;}