/*--------------------------------------------------------------
Woocommerce 
--------------------------------------------------------------*/
.woocommerce .panel.entry-content {
	background:none;
	border:none;
}

/* Sale notification */
.woocommerce span.onsale, .woocommerce-page span.onsale {
    z-index: 2;
    background: #ef8f61!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff;
    font-size: 20px!important;
    font-weight: 500!important;
    line-height: inherit!important;
    margin: 0!important;
    min-height: 0!important;
    min-width: 0!important;
    padding: 6px 18px!important;
    text-shadow: none!important;
}
/* Button */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #review_form #submit,
.woocommerce a.button.add_to_cart_button{
    background:#14bfcc !important;
    color:#fff !important;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #review_form #submit:hover,
.woocommerce a.button.add_to_cart_button:hover{
    background:#0091ac !important;
    color:#fff !important;
}
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce #review_form #submit, 
.woocommerce a.button.add_to_cart_button {
    font-size: 14px!important;
	font-size: 1.3rem!important;
	line-height: 1.4em!important;
    font-weight: normal!important;
    display: inline-block!important;
    border:none!important;
    font-size: 1em!important;
    padding:5px 20px!important;
    text-decoration: none!important;
    cursor:pointer!important;
    border-radius:2px!important;
    -moz-border-radius:2px!important;
    -webkit-border-radius:2px!important;
    transition: all 0.5s ease!important;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1)!important;
    box-shadow: none!important;
}
/* Related products */
.woocommerce .related ul li, .woocommerce .upsells ul li{
    display: block;
}
.woocommerce .related ul li.product img, .woocommerce .upsells ul li.product img {
    width:45%!important;
    margin-right: 20px!important;
    float: left;
}
.woocommerce .related ul li.product h3, .woocommerce .upsells ul li.product h3 {
    clear:none;
}
/* Tab */
.woocommerce-tabs {
    background: #fff;
}
.woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding:1em 2em!important;
    background: #fff;
    border-left: 1px solid #ddd !important;
    border-right:1px solid #ddd !important;
    border-bottom:1px solid #ddd !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.05);
    box-shadow: 1px 2px rgba(0,0,0,.05);
}

ul.tabs { border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd;padding:0px !important; margin-bottom:0em !important}

.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li{border-left:1px solid #ddd;border-rigth:1px solid #ddd!important;border-top:none!important; background:#f5f5f5 !important; -webkit-border-top-left-radius:0px!important;-webkit-border-top-right-radius:0px!important;-moz-border-radius-topleft:0px!important;-moz-border-radius-topright:0px!important;border-top-left-radius:0px!important;border-top-right-radius:0px!important;box-shadow:none !important;padding:0.5em 1.5em !important;}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a{color:inherit;text-shadow:inherit}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before{box-shadow: none !important;}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after{box-shadow:none !important;}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after{border:0px solid #ddd !important;}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before{box-shadow:none !important;}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after{box-shadow: none !important;}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before{border-bottom:1px solid #ddd !important;}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active{background:#ffffff !important;border-bottom-color:#ddd!important; }

.woocommerce-tabs ul.tabs li a { font-weight:normal !important; text-transform:uppercase; font-size:0.9em;}

/* cart table */
.cart_totals table { 
    border:none!important; 
    }
.cart_totals table th { 
    width:50%!important;
    font-weight: bold;
    }

/* widget */
.woocommerce ul.product_list_widget li,
.woocommerce .widget_shopping_cart .total { 
    }
.woocommerce .widget_shopping_cart .buttons{ 
    }
.woocommerce .widget_product_tag_cloud .tagcloud{ 
    }
.woocommerce .widget_product_tag_cloud .tagcloud a{ 
    font-size: 9pt!important;
    background: #eee;
    padding: 4px 8px;
    }
.woocommerce .widget_product_categories ul { 
    margin: .8em 0!important;
    }
.woocommerce .widget_product_categories ul li { 
    list-style: none;
    margin: .2em 0!important;
    }
.woocommerce .widget_product_categories ul.children li { 
    list-style: none;
    border: 1px solid #ddd;
    margin: .5em 0!important;
    padding: .2em .8em;
    }
.woocommerce .widget_product_categories .dropdown_product_cat { 
    margin: 1em .8em!important;
    }

.woocommerce .widget_price_filter .price_slider_amount .button { 
    padding: .4em .5em!important;
    margin-top: 1px;
}
.woocommerce .widget_layered_nav ul li { 
    list-style: none;
    margin: .2em 0!important;
    padding: .2em .8em;
    }
.woocommerce .widget_layered_nav select { 
    margin: 1em .8em!important;
    }

/* Notice */
.woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before {
    height: 2.5em !important;
    width: 1.5em !important;
     -webkit-border-bottom-left-radius: 0px;!important;
    -webkit-border-bottom-right-radius: 0px!important;
    -moz-border-radius-bottomleft: 0px!important;
    -moz-border-radius-bottomright: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none!important;
}
.woocommerce-message, .woocommerce-error, .woocommerce-info  {
	margin: 0 0 2em;
	position: relative;
	-webkit-border-radius:0px!important;
	-moz-border-radius: 0px!important;
	border-radius: 0px!important;
	background: #fff !important;
	color: #555;
	text-shadow: 0 1px 0 #fff;
	border:1px solid #ddd;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: 0px 2px 0px #eee !important;
	-webkit-box-shadow: 0px 2px 0px #eee !important;
	box-shadow: 0px 2px 0px #eee !important;
}
.woocommerce-info::before {
background: #14bfcc !important;
}
.woocommerce-info {
    border-top: 3px solid #14bfcc !important;
}
.shipping-calculator-button {
   font-size:0.8em;
}

.woocommerce #payment {
   background: #eee;
  }  
.woocommerce #payment div.payment_box {
   background: #dedede!important;
  }  
.woocommerce #payment div.payment_box:after {
    border: 8px solid #dedede;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  } 